<!DOCTYPE html>
<html>
    <head>
        <title>Big Hero 5</title>
        <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='master.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="http://localhost:5000/"><img src="/static/img/back.png" id="back-icon"></a>
        <div class="title-text">About Us</div>
        </br>
        <div class="text-center">
        <div class="big-circle">
            <div class="image1">
                <img id="one" src="/static/img/gisel.png" alt="Gisela Supardi">
                <span id="nama-nim-one">Gisela Supardi</br>13515009</span>
            </div>
            <div class="image2">
                <img src="/static/img/calvin.png" class="round-image two" alt="Veren Iliana Kurniadi">
                <span id="nama-nim-two">Veren Iliana Kurniadi</br>13515078</span>
            </div>
            <div class="image3">
                <img src="/static/img/mbul.png" class="round-image three" alt="Kevin Iswara">
                <span id="nama-nim-three">Kevin Iswara</br>13515085</span>
            </div>
            <div class="image4">
                <img src="/static/img/mira.png" class="round-image four" alt="Catherine Almira">
                <span id="nama-nim-four">Catherine Almira</br>13515111</span>
            </div>
            <div class="image5">
                <img src="/static/img/kevin.png" class="round-image five" alt="Kevin">
                <span id="nama-nim-five">Kevin</br>13515138</span>
            </div>
        </div>
        </div>
    </body>
</html>