<html>
<head>
	<title>Income Prediction</title>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='master.css') }}">
</head>
<body>
<div class="page-content">
	<form method="POST" action="http://localhost:5000/predict">
		<table class="form-table">
			<tbody>
			<tr>
				<td colspan="3">Please fill out the following information
			</tr>
			<tr>
				<td>Age</td>
				<td>:</td>
				<td><input type="text" name="age" required></td>
			</tr>
			<tr>
				<td>Work Class</td>
				<td>:</td>
				<td><input type="text" name="workclass" required></td>
			</tr>
			<tr>
				<td>fnlwgt</td>
				<td>:</td>
				<td><input type="text" name="fnlwgt" required></td>
			</tr>
			<tr>
				<td>Education</td>
				<td>:</td>
				<td><input type="text" name="education" required></td>
			</tr>
			<tr>
				<td>Education Number</td>
				<td>:</td>
				<td><input type="text" name="education-num" required></td>
			</tr>
			<tr>
				<td>Marital Status</td>
				<td>:</td>
				<td><input type="text" name="marital-status" required></td>
			</tr>
			<tr>
				<td>Occupation</td>
				<td>:</td>
				<td><input type="text" name="occupation" required></td>
			</tr>
			<tr>
				<td>Relationship</td>
				<td>:</td>
				<td><input type="text" name="relationship" required></td>
			</tr>
			<tr>
				<td>Race</td>
				<td>:</td>
				<td><input type="text" name="race" required></td>
			</tr>
			<tr>
				<td>Sex</td>
				<td>:</td>
				<td><input type="text" name="sex" required></td>
			</tr>
			<tr>
				<td>Capital Gain</td>
				<td>:</td>
				<td><input type="text" name="capital-gain" required></td>
			</tr>
			<tr>
				<td>Capital Loss</td>
				<td>:</td>
				<td><input type="text" name="capital-loss" required></td>
			</tr>
			<tr>
				<td>Hours per Week</td>
				<td>:</td>
				<td><input type="text" name="hours-per-week" required></td>
			</tr>
			<tr>
				<td>Native Country</td>
				<td>:</td>
				<td><input type="text" name="native-country" required></td>
			</tr>
			</tbody>
		</table>
		<button type="submit" class="submit-button">Submit</button>
	</form>
</div>
</body>
</html>