<!DOCTYPE html>
<html>
<head>
	<title>Income Prediction</title>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='master.css') }}">
</head>
<body>
<div class="title">
	<img class="title-image" src="/static/img/title.png">
</div>
<div class="menu">
	<button class="menu-button" onclick="window.location.href='http://localhost:5000/form'">Start Predict</button>
	<button class="menu-button" onclick="window.location.href='http://localhost:5000/about'">About Us</button>
</div>

</body>
</html>